/* Energie  Ampel */

.energie-ampel {
  overflow-y: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
  /* padding: 15px; */

}

.energie-ampel-title h2{
  margin-bottom: 10px;
}

.energie-ampel-title {
  text-align: center;
  margin-top: -45px;
}
.strom_array-container {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  padding: 60px 0px 30px  15px ;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.strom_array-container::-webkit-scrollbar {
  display: none;
}

.strom_array {
  position: relative;
  display: block;
  white-space: nowrap; /*Prevents Wrapping*/
  height: 100px;
}

.strom_array div {
  display: inline-block; /*Display inline and maintain block characteristics.*/
  vertical-align: top; /*Makes sure all the divs are correctly aligned.*/
  white-space: normal; /*Prevents child elements from inheriting nowrap.*/
  height: 60px;
  width: 25px;
  border-radius: 8px;
  margin-right: 2px;
}

.strom_array div:first-of-type {
  width: 50px;
  border-radius: 10px;
  animation-name: stretch;
  animation-duration: 1.2s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}


.strom_array div:first-of-type {
  transform: scale(1);
  cursor: pointer;
  animation: pulse 2s infinite;
}


.strom_array div:first-of-type .red {
  box-shadow: 0 0 0 0 #ef6363;
  animation: pulse-red 2s infinite;
}

.strom_array div:first-of-type .yellow {
  box-shadow: 0 0 0 #efd763;
  animation: pulse-yellow 2s infinite;
}


.strom_array div:first-of-type.green {
  box-shadow: 0 0 0 #40b82e;
  animation: pulse-green 2s infinite;
}

.strom_array .red {
  background: rgb(239, 99, 99);
}
.strom_array .yellow {
  background: rgb(239, 215, 99);
}
.strom_array .green {
  background: rgb(64, 184, 46);
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(239, 99, 99, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgb(239, 99, 99, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(239, 99, 99, 0);
  }
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
   box-shadow: 0 0 0 0 rgb(239, 215, 99, 0.7);
  }
  70% {
    transform: scale(1);
      -webkit-box-shadow: 0 0 0 15px rgb(239, 215, 99, 0);
  }
  100% {
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgb(239, 215, 99, 0);
  }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(64, 184, 46, 0.7);
  }
  70% {
    transform: scale(1);
      box-shadow: 0 0 0 15px rgba(64, 184, 46, 0);
  }
  100% {
    transform: scale(0.95);
   box-shadow: 0 0 0 0 rgba(64, 184, 46, 0);
  }
}


.strom_array .red {
  background: #ef6363;
}
.strom_array .yellow {
  background: #efd763;
}
.strom_array .green {
  background: #40b82e;
}

.strom_array label {
  position: absolute;
  top: 65px;
  font-size: 1.6rem;
  word-break: keep-all;
  word-wrap: normal;
  white-space: nowrap;
  background-color: rgba(255, 255, 250, 1);
  z-index: 1;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
}


.strom_array label.day {
  z-index: 100;
  background-color: rgba(255, 255, 250, 1);
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
}



.strom_array label.midnight{
  top: -35px;
  min-width: 50px;
  margin-left: 30px;
} 


.red .time:first-of-type {
  display: block;
}

.red {
  color: #ef6363;
}
.yellow {
  color: #efd763;
}
.green {
  color: #40b82e;
}


.vpp-animation{
  text-align: center;
}

.vpp-animation h2{
  margin-bottom: 0px;}